<app-top-bar></app-top-bar>
<div class="container">
    <div class="row" style="width:100%">
        <div class="col-md-7">
            <h3>Products</h3>
            <div *ngFor="let product of products, index as productId">
                <h3>
                    <a [routerLink]="['/product-details', productId]" [title]="product.name+ 'details'">
                        {{ product.name }}
                    </a>
                </h3>
                <p *ngIf="product.description">{{product.description}}</p>
                <button [routerLink]="['/product-details', productId]">View Details</button>
                &nbsp;
                <button (click)="addToCart(product)">Buy Now</button>
                <!--<app-product-alerts
                    [lproduct]="product"   (notify)="onNotify()">
                </app-product-alerts>-->	
            </div>
        </div>
        <div class="col-md-5">
            <app-cart></app-cart>
        </div>                          
    </div> 
</div> 
