<div class="container">
	<div class="row">
		<div class="col-md-12">
				<h1>Add Post</h1> 
				<hr>
				<form [formGroup]="postForm" (ngSubmit)="onSubmit(postForm.value)" style="border:1px solid #ccc;padding:10px;">
					<label for="email"><b>Title</b></label>
					<input type="text" class="form-control" formControlName="title">
					<label for="psw"><b>Description</b></label>
					<textarea formControlName="description"></textarea>
					<label for="image">Image</label>
					<input #file type="file" accept="image/*" formControlName="image" (change)	=getFileDetails(file.files)>
					<img [src]="img_url" height="200" *ngIf="img_url">
					<div class="clearfix">
						 <button class="btn btn-primary">Save</button>
					</div>	
				</form>	
		</div> 
	</div> 
</div>
